<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-paddingless" href="/demo/company.html">
      <div
        style="border-right: 1px solid #dbdbdb; height: 100%; padding: 0 16px"
      >
        <span class="icon" style="height: 100%; vertical-align: middle">
          <i class="fal fa-chevron-left"></i>
        </span>
      </div>
    </a>
    <a class="navbar-item" href="/demo/landing.html">
      <img
        src="../../assets/img/logo_winnow_small.svg"
        width="52"
        height="35"
      />
    </a>
    <div class="navbar-minimal">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-fullwidth"
              placeholder="Enter company name"
            />
          </div>
          <div class="control">
            <a class="button"><i class="fal fa-search"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field has-addons" style="width: 500px">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-fullwidth"
              placeholder="Enter company name"
            />
          </div>
          <div class="control">
            <a class="button"><i class="fal fa-search"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
