<div id="anchor-fuzzymatch" class="notification is-warning is-light">
  <p>
    Verify company names that match with <b>Adobe Inc</b>
    <a onclick="modalFunction()"
      ><u class="has-text-danger">(what's this?)</u></a
    >:
  </p>
  <div class="tags mb-2">
    <div class="tags has-addons m-1">
      <span class="tag"
        ><a class="icon">
          <i class="fal fa-info-circle" aria-hidden="true"></i> </a
      ></span>
      <span class="tag is-link is-light">Company Name</span>
      <a class="tag is-delete is-link"></a>
    </div>
    <div class="tags has-addons m-1">
      <span class="tag"
        ><a class="icon" onclick="modalInfoFunction()">
          <i class="fal fa-info-circle" aria-hidden="true"></i> </a
      ></span>
      <span class="tag is-link is-light">Adobe Systems Incorporated</span>
    </div>
    <div class="tags has-addons m-1">
      <span class="tag"
        ><a class="icon" onclick="modalInfoFunction()">
          <i class="fal fa-info-circle" aria-hidden="true"></i> </a
      ></span>
      <span class="tag is-link is-light">Padobe</span>
    </div>
    <div class="tags has-addons m-1">
      <span class="tag"
        ><a class="icon" onclick="modalInfoFunction()">
          <i class="fal fa-info-circle" aria-hidden="true"></i> </a
      ></span>
      <span class="tag is-link is-light">Cradobe Innovations</span>
    </div>
    <span class="tag is-danger is-light mx-1">None of the above</span>
  </div>
  <button class="button">Done Verification</button>
</div>
