<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-paddingless" href="/demo-user/company.html">
      <div class="has-background-link" style="height: 100%; padding: 0 16px">
        <span
          class="icon has-text-white"
          style="height: 100%; vertical-align: middle"
        >
          <i class="fal fa-chevron-left"></i>
        </span>
      </div>
    </a>
    <a class="navbar-item" href="/demo-user/landing.html">
      <img
        src="../../assets/img/logo_winnow_small.svg"
        width="52"
        height="35"
      />
    </a>
    <div class="navbar-item">
      <p>
        <span class="title is-size-6">Peer Companies</span><br /><small
          >Source: Winnow (Adobe Inc)</small
        >
      </p>
    </div>
    <div class="navbar-minimal">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-fullwidth"
              placeholder="Enter company name"
            />
          </div>
          <div class="control">
            <a class="button"><i class="fal fa-search"></i></a>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field">
          <div
            id="winnowDropDownSettingsMini"
            class="dropdown is-right"
            onclick="dropDownMenuFunction('winnowDropDownSettingsMini')"
          >
            <div class="dropdown-trigger">
              <button class="button"><i class="fal fa-cog"></i></button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="m-4">
                  <i class="fas fa-user-circle fa-5x"></i>
                  <p class="mt-2 has-text-weight-bold">Full Name</p>
                  <p class="is-size-7">Designation , Department</p>
                </div>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  onclick="modalFunction('ModalShareLink')"
                >
                  <i class="fal fa-share"></i> Share Link
                </a>
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-tags"></i> Manage Tags
                </a>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-fullwidth"
              placeholder="Enter company name"
            />
          </div>
          <div class="control">
            <a class="button"><i class="fal fa-search"></i></a>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field">
          <div
            id="winnowDropDownSettings"
            class="dropdown is-right"
            onclick="dropDownMenuFunction('winnowDropDownSettings')"
          >
            <div class="dropdown-trigger">
              <button class="button"><i class="fal fa-cog"></i></button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="m-4">
                  <i class="fas fa-user-circle fa-5x"></i>
                  <p class="mt-2 has-text-weight-bold">Full Name</p>
                  <p class="is-size-7">Designation , Department</p>
                </div>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  onclick="modalFunction('ModalShareLink')"
                >
                  <i class="fal fa-share"></i> Share Link
                </a>
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-tags"></i> Manage Tags
                </a>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
