<section>
  <div class="tabs is-small mb-2">
    <ul class="is-marginless">
      <li class="is-active"><a>Department Tags</a></li>
      <li><a>Private Tags</a></li>
    </ul>
  </div>
  <div class="buttons are-small mb-2">
    <button class="button is-marginless p-1" style="border: 0">A</button>
    <button class="button is-marginless p-1" style="border: 0">B</button>
    <button class="button is-marginless p-1" style="border: 0">C</button>
    <button class="button is-marginless p-1" style="border: 0">D</button>
    <button class="button is-marginless p-1" style="border: 0">E</button>
    <button class="button is-marginless p-1" style="border: 0">F</button>
    <button class="button is-marginless p-1" style="border: 0">G</button>
    <button class="button is-marginless p-1" style="border: 0">H</button>
    <button class="button is-marginless p-1" style="border: 0">I</button>
    <button class="button is-marginless p-1" style="border: 0">J</button>
    <button class="button is-marginless p-1" style="border: 0">K</button>
    <button class="button is-marginless p-1" style="border: 0">L</button>
    <button class="button is-marginless p-1" style="border: 0">M</button>
    <button class="button is-marginless p-1" style="border: 0">N</button>
    <button class="button is-marginless p-1" style="border: 0">O</button>
    <button class="button is-marginless p-1" style="border: 0">P</button>
    <button class="button is-marginless p-1" style="border: 0">Q</button>
    <button class="button is-marginless p-1" style="border: 0">R</button>
    <button class="button is-marginless p-1" style="border: 0">S</button>
    <button class="button is-marginless p-1" style="border: 0">T</button>
    <button class="button is-marginless p-1" style="border: 0">U</button>
    <button class="button is-marginless p-1" style="border: 0">V</button>
    <button class="button is-marginless p-1" style="border: 0">W</button>
    <button class="button is-marginless p-1" style="border: 0">X</button>
    <button class="button is-marginless p-1" style="border: 0">Y</button>
    <button class="button is-marginless p-1" style="border: 0">Z</button>
  </div>
  <nav class="level is-mobile is-marginless">
    <div class="level-left">
      <div class="level-item">
        <button
          class="
            button
            is-small is-ghost
            has-text-danger
            is-marginless is-paddingless
          "
        >
          Delete Selected
        </button>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">
        <button class="button is-small is-ghost is-marginless is-paddingless">
          Create New Tags
        </button>
      </p>
    </div>
  </nav>
  <hr class="has-background-grey-light is-marginless" />
  <p class="menu-label">A</p>
  <ul class="menu-list">
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Adtech
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Advanced manufacturing
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Agtech
      </label>
    </li>
  </ul>
  <p class="menu-label">B</p>
  <ul class="menu-list">
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        B2B payments
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Beauty
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Big data
      </label>
    </li>
  </ul>
  <p class="menu-label">C</p>
  <ul class="menu-list">
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Cannabis
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Carsharing
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox" />
        Cleantech
      </label>
    </li>
  </ul>
</section>
