<div class="card tile is-child">
  <header class="card-header">
    <div class="card-header-title">
      <label>External References</label><br />
      <small>Source: Winnow</small>
    </div>
    <div
      id="winnowDropDownDocuments"
      class="dropdown is-right"
      onclick="dropDownWidgetFunction('winnowDropDownDocuments')"
    >
      <div class="dropdown-trigger">
        <button class="card-header-icon" aria-label="more options">
          <span class="icon mt-3">
            <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <!--Dropdown Menu-->
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            <div class="level">
              <div class="level-item level-left">
                <span class="icon mr-3"> <i class="fal fa-flag"></i></span>
                <span>Fix Company Name</span>
              </div>
            </div>
          </a>
          <a href="/demo-user/expandwidget.html" class="dropdown-item">
            <div class="level">
              <div class="level-item level-left">
                <span class="icon mr-3"> <i class="fal fa-expand"></i></span>
                <span>Expand Widget</span>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="level">
              <div class="level-item level-left">
                <span class="icon mr-3"> <i class="fal fa-eye-slash"></i></span>
                <span>Hide Widget</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <button class="button is-fullwidth mb-5">
        <span class="icon has-text-link">
          <i class="fal fa-file-plus"></i>
        </span>
        <span>Add New Link</span>
      </button>
      <div class="columns is-mobile">
        <div class="column">
          <span class="title is-6">Project X Research PPT</span><br />
          <small class="is-size-7 has-text-link"
            >Richard Bhamb - 4:42 AM GMT+8•January 1, 2021
          </small>
          <p class="is-size-7 has-text-danger mt-4">Remove</p>
        </div>
        <div class="column is-2 has-text-right">
          <span class="icon">
            <i class="fal fa-external-link-alt"></i>
          </span>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column">
          <span class="title is-6">Project X Research PPT</span><br />
          <small class="is-size-7 has-text-link"
            >Richard Bhamb - 4:42 AM GMT+8•January 1, 2021
          </small>
          <p class="is-size-7 has-text-danger mt-4">Remove</p>
        </div>
        <div class="column is-2 has-text-right">
          <span class="icon">
            <i class="fal fa-external-link-alt"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
