<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-hidden-mobile" href="/demo/landing.html">
      <img src="../../assets/img/logo_winnow.svg" width="145" height="35" />
    </a>
    <a class="navbar-item is-hidden-tablet" href="/demo/landing.html">
      <img
        src="../../assets/img/logo_winnow_small.svg"
        width="50"
        height="35"
      />
    </a>
    <div class="navbar-minimal">
      <div class="navbar-item">
        <div
          id="winnowDropDownSearch"
          class="dropdown is-fullwidth is-right"
          onclick="dropDownMenuFunction('winnowDropDownSearch')"
        >
          <div class="dropdown-trigger">
            <button class="button"><i class="fal fa-search"></i></button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input
                      type="text"
                      class="input is-fullwidth"
                      placeholder="Enter company name"
                    />
                  </div>
                  <div class="control">
                    <a class="button"><i class="fal fa-search"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div
          id="winnowDropDownLayoutMini"
          class="dropdown is-right"
          onclick="dropDownMenuFunction('winnowDropDownLayoutMini')"
        >
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu"
            >
              <span class="icon is-small">
                <i class="fal fa-th"></i>
              </span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <label class="label is-small">NEW LAYOUT</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input
                      type="text"
                      class="input is-fullwidth"
                      placeholder="New layout name"
                    />
                  </div>
                  <div class="control">
                    <a class="button"><i class="fal fa-save"></i></a>
                  </div>
                </div>
              </div>
              <hr class="dropdown-divider" />
              <div class="dropdown-item">
                <label class="label is-small">SAVED LAYOUTS</label>
              </div>
              <a href="#" class="dropdown-item">
                <div class="level is-mobile">
                  <div class="level-left">
                    <span class="icon level-item">
                      <i class="fas fa-check-circle"></i
                    ></span>
                    <span class="level-item">Default Layout</span>
                  </div>
                  <div class="level-right">
                    <span class="icon level-item"> </span>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="level is-mobile">
                  <div class="level-left">
                    <span class="icon level-item"> </span>
                    <span class="level-item">Sales Graph</span>
                  </div>
                  <div class="level-right">
                    <span class="icon level-item">
                      <i class="fal fa-trash-alt"></i>
                    </span>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="level is-mobile">
                  <div class="level-left">
                    <span class="icon level-item"> </span>
                    <span class="level-item">Competitor Analysis</span>
                  </div>
                  <div class="level-right">
                    <span class="icon level-item">
                      <i class="fal fa-trash-alt"></i>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field">
          <div
            id="winnowDropDownSettingsMini"
            class="dropdown is-right"
            onclick="dropDownMenuFunction('winnowDropDownSettingsMini')"
          >
            <div class="dropdown-trigger">
              <button class="button"><i class="fal fa-cog"></i></button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="m-4">
                  <i class="fas fa-user-circle fa-5x"></i>
                  <p class="mt-2 has-text-weight-bold">Full Name</p>
                  <p class="is-size-7">Designation , Department</p>
                </div>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  onclick="modalFunction('ModalShareLink')"
                >
                  <i class="fal fa-share"></i> Share Link
                </a>
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-tags"></i> Manage Tags
                </a>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Default-->
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-fullwidth"
              placeholder="Enter company name"
            />
          </div>
          <div class="control">
            <a class="button"><i class="fal fa-search"></i></a>
          </div>
        </div>
      </div>

      <div class="navbar-item">
        <div class="field">
          <div
            id="winnowDropDownLayout"
            class="dropdown is-right"
            onclick="dropDownMenuFunction('winnowDropDownLayout')"
          >
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span class="icon is-small">
                  <i class="fal fa-th"></i>
                </span>
                <span>Default Layout</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <label class="label is-small">NEW LAYOUT</label>
                  <div class="field has-addons">
                    <div class="control is-expanded">
                      <input
                        type="text"
                        class="input is-fullwidth"
                        placeholder="New layout name"
                      />
                    </div>
                    <div class="control">
                      <a class="button"><i class="fal fa-save"></i></a>
                    </div>
                  </div>
                </div>
                <hr class="dropdown-divider" />
                <div class="dropdown-item">
                  <label class="label is-small">SAVED LAYOUTS</label>
                </div>
                <a href="#" class="dropdown-item">
                  <div class="level">
                    <div class="level-left">
                      <span class="icon level-item">
                        <i class="fas fa-check-circle"></i
                      ></span>
                      <span class="level-item">Default Layout</span>
                    </div>
                    <div class="level-right">
                      <span class="icon level-item"> </span>
                    </div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="level">
                    <div class="level-left">
                      <span class="icon level-item"> </span>
                      <span class="level-item">Sales Graph</span>
                    </div>
                    <div class="level-right">
                      <span class="icon level-item">
                        <i class="fal fa-trash-alt"></i>
                      </span>
                    </div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="level">
                    <div class="level-left">
                      <span class="icon level-item"> </span>
                      <span class="level-item">Competitor Analysis</span>
                    </div>
                    <div class="level-right">
                      <span class="icon level-item">
                        <i class="fal fa-trash-alt"></i>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field">
          <div
            id="winnowDropDownSettings"
            class="dropdown is-right"
            onclick="dropDownMenuFunction('winnowDropDownSettings')"
          >
            <div class="dropdown-trigger">
              <button class="button"><i class="fal fa-cog"></i></button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="m-4">
                  <i class="fas fa-user-circle fa-5x"></i>
                  <p class="mt-2 has-text-weight-bold">Full Name</p>
                  <p class="is-size-7">Designation , Department</p>
                </div>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  onclick="modalFunction('ModalShareLink')"
                >
                  <i class="fal fa-share"></i> Share Link
                </a>
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-tags"></i> Manage Tags
                </a>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
