<div class="card tile is-child">
  <header class="card-header">
    <div class="card-header-title">
      <label>Peer Companies</label><br />
      <small>Source: Winnow (Adobe Inc)</small>
    </div>
    <div
      id="winnowDropDownProfile"
      class="dropdown is-right"
      onclick="dropDownWidgetFunction('winnowDropDownProfile')"
    >
      <div class="dropdown-trigger">
        <button class="card-header-icon" aria-label="more options">
          <span class="icon mt-3">
            <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <!--Dropdown Menu-->
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            <div class="level">
              <div class="level-item level-left">
                <span class="icon mr-3"> <i class="fal fa-flag"></i></span>
                <span>Fix Company Name</span>
              </div>
            </div>
          </a>
          <a href="/demo/expandwidget.html" class="dropdown-item">
            <div class="level">
              <div class="level-item level-left">
                <span class="icon mr-3"> <i class="fal fa-expand"></i></span>
                <span>Expand Widget</span>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="level">
              <div class="level-item level-left">
                <span class="icon mr-3"> <i class="fal fa-eye-slash"></i></span>
                <span>Hide Widget</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="level">
        <div class="level-left">
          <p>206 companies found as peers to <b>Adobe Inc</b></p>
        </div>
        <div class="level-right">
          <div id="winnowDropDownPeers" class="dropdown is-right" onclick="dropDownWidgetFunction('winnowDropDownPeers')">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span>Show 3 Peers</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  Show 5 Peers
                </a>
                <a href="#" class="dropdown-item">
                  Show 3 Peers
                </a>
              </div>
            </div>
          </div>
          <button
            class="button ml-2"
            aria-haspopup="true"
            aria-controls="dropdown-menu"
          ><span class="icon is-small">
            <i class="fal fa-filter" aria-hidden="true"></i>
          </span>
            <span>Match Criteria</span>
          </button>
        </div>
      </div>
      <div class="table-container">
        <table class="table is-bordered">
          <thead>
            <tr>
              <th></th>
              <td class="has-background-light" style="vertical-align: middle">
                <img
                  src="../../assets/img/img_adobelogo.png"
                  style="max-width: 150px; max-height: 50px"
                />
              </td>
              <td style="vertical-align: middle">
                <img
                  src="../../assets/img/logo_via.png"
                  style="max-width: 150px; max-height: 50px"
                />
              </td>
              <td style="vertical-align: middle">
                <img
                  src="../../assets/img/logo_flywheel.png"
                  style="max-width: 150px; max-height: 50px"
                />
              </td>
              <td style="vertical-align: middle">
                <img
                  src="../../assets/img/logo_lyft.png"
                  style="max-width: 150px; max-height: 50px"
                />
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Company</th>
              <td class="has-background-light" width="22%">Adobe Inc</td>
              <td width="22%">Via</td>
              <td width="22%">Flywheel</td>
              <td width="22%">Lyft</td>
            </tr>
            <tr>
              <th>Score</th>
              <td class="has-background-light" width="22%">-</td>
              <td width="22%">69%</td>
              <td width="22%">57%</td>
              <td width="22%">53%</td>
            </tr>
            <tr>
              <th>Description</th>
              <td class="has-background-light">
                Adobe Inc. is an American multinational computer software company. Incorporated in Delaware and headquartered in San Jose, California, it has historically focused upon the creation of multimedia and creativity software products, with a more recent foray towards digital marketing software.
              </td>
              <td>
                Via is a re-engineering public transit company that develops and
                provides on-demand public mobility solutions for commuters. The
                company transforms public transit, from a regulated system of
                rigid routes and schedules to a fully dynamic, on-demand
                network. Via’s mobile app connects passengers who are headed the
                same way, allowing riders to seamlessly share a premium vehicle.
              </td>
              <td>
                Flywheel is a mobile app that allows users to hail a cab, track
                a ride, and make payments. Flywheel adds entire taxi companies
                at once, using cars already on the road to meet demand at any
                time of day or night. .
              </td>
              <td>
                Lyft is a fast growing ride sharing company in U.S. and is
                available to 95 percent of the US population. The company
                designs, markets, and operates a mobile application that matches
                drivers with passengers who request rides, and also allows
                payment through the app. It also allows riders to schedule rides
                up to seven days in advance.
              </td>
            </tr>
            <tr>
              <th>Industry</th>
              <td class="has-background-light"><div class="tags has-addons">
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                </span>
              </div></td>
              <td><div class="tags has-addons">
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                </span>
              </div></td>
              <td><div class="tags has-addons">
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                </span>
              </div></td>
              <td><div class="tags has-addons">
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                <span class="tag is-info is-light mr-2"
                  ><a href="/demo/searchedtags.html">Department Tag</a>
                </span>
                </span>
              </div></td>
            </tr>
            <tr>
              <th>Revenue</th>
              <td class="has-background-light">-</td>
              <td>$10M to $50M</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
