<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/demo/landing.html">
      <img src="../../assets/img/logo_winnow.svg" width="145" height="35" />
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="field is-grouped input">
              <div class="control" data-tag="Tag1">
                <div class="tags has-addons">
                  <span class="tag is-info is-light">Adtech</span
                  ><a class="tag is-info is-delete"></a>
                </div>
              </div>
              <div class="control" data-tag="Tag2">
                <div class="tags has-addons">
                  <span class="tag is-info is-light">Agtech</span
                  ><a class="tag is-info is-delete"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="control">
            <a class="button"><i class="fal fa-search"></i></a>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field">
          <div
            id="winnowDropDownSettingsMini"
            class="dropdown is-right"
            onclick="dropDownMenuFunction('winnowDropDownSettingsMini')"
          >
            <div class="dropdown-trigger">
              <button class="button"><i class="fal fa-cog"></i></button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="m-4">
                  <i class="fas fa-user-circle fa-5x"></i>
                  <p class="mt-2 has-text-weight-bold">Full Name</p>
                  <p class="is-size-7">Designation , Department</p>
                </div>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  onclick="modalFunction('ModalShareLink')"
                >
                  <i class="fal fa-share"></i> Share Link
                </a>
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-tags"></i> Manage Tags
                </a>
                <hr class="dropdown-divider" />
                <a
                  href="#"
                  class="dropdown-item"
                  data-show="quickview"
                  data-target="quickviewDefault"
                >
                  <i class="fal fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
