<section
  class="mb-5"
  style="background-color: #f5f5f5; padding: 8px; border-radius: 8px"
>
  <p
    class="is-size-8 is-uppercase has-text-weight-bold has-text-grey-light mb-2"
  >
    Tags assigned to Company
  </p>
  <div class="tags has-addons">
    <div class="tag">
      <span class="tag is-info is-light">Department Tag</span>
      <a class="tag is-delete is-info"></a>
    </div>
    <div class="tag">
      <span class="tag is-info is-light">Department Tag</span>
      <a class="tag is-delete is-info"></a>
    </div>
    <div class="tag">
      <span class="tag is-success is-light">Private Tag</span>
      <a class="tag is-delete is-success"></a>
    </div>
    <div class="tag">
      <span class="tag is-success is-light">Private Tag</span>
      <a class="tag is-delete is-success"></a>
    </div>
  </div>
</section>
