---
title: Widget (HITL)
layout: layout-sidenav
permalink: /content/components/hitl.html
category: Components/WidgetHITL
---

<section>
  <h3 class="title is-3">Widget (HITL)</h3>
  <div class="content">
    <div class="card">
      <header class="card-header has-background-warning-light">
        <div class="card-header-title">
          <label>Funds</label><br />
          <small>Source: PEFI</small>
        </div>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          <p>Did you mean any of the following companies?</p>
          <div class="tags are-medium">
            <span class="tag is-link">Adobe Systems</span>
            <span class="tag">Padobe</span>
            <span class="tag">Cradobe Innovations</span>
            <span class="tag is-danger is-light">None of the above</span>
          </div>
        </div>
      </div>
    </div>
    <!--Widget-->
    <div class="card">
      <header class="card-header has-background-warning-light">
        <div class="card-header-title">
          <label>Funds</label><br />
          <small>Source: PEFI</small>
        </div>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          <p>Which company were you looking for?</p>
          <input
            class="input"
            type="text"
            placeholder="E.g. Company name or website URL"
          />
          <button class="button is-light my-3">Submit</button>
        </div>
      </div>
    </div>
    <!--Widget-->
  </div>
</section>
