---
title: Modal
layout: layout-sidenav
permalink: /content/components/modal.html
category: Components/Modal
---

<section class="section">
  <h3 class="title has-text-weight-light">Modal</h3>
  <p>A classic modal overlay, in which you can include any content you want.</p>
  <div class="content mt-5">
    <a onclick="modalFunction()" class="button is-light">Launch Modal</a>
    <div id="winnowModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Help us improve</p>
          <button
            class="delete"
            onclick="modalFunction()"
            aria-label="close"
          ></button>
        </header>
        <section class="modal-card-body">
          <p>
            You can help Winnow provide more accurate results by matching
            company names across different data sources.
          </p>
        </section>
        <footer class="modal-card-foot">
          <button class="button" onclick="modalFunction()">Close</button>
        </footer>
      </div>
    </div>
  </div>
</section>
<script>
  function modalFunction() {
    var element = document.getElementById("winnowModal");
    element.classList.toggle("is-active");
  }
</script>
