---
title: Quickview
layout: layout-sidenav
permalink: /content/components/quickview.html
category: Components/Quickview
---

<section class="section">
  <h3 class="title has-text-weight-light">Quickview</h3>
  <p>Display a quick view of data without leaving the current page.</p>
  <div class="content mt-5">
    <div class="block">
      <h5 class="has-text-link">Right-Side Panel</h5>
      <button
        class="button is-light"
        data-show="quickview"
        data-target="quickviewDefault"
      >
        Show Quickview
      </button>
    </div>
  </div>
</section>
<div id="quickviewDefault" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Assign Tags to Company</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Tags Assigned-->
      {% include wds-tags-assigned.html %}
      <!--Assign New Tag-->
      {% include wds-tags-new.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>
