---
title: Steps
layout: layout-sidenav
permalink: /content/components/steps.html
category: Components/Steps
---

<section class="section">
  <h3 class="title has-text-weight-light">Steps</h3>
  <p>Display steps for a process, in different sizes and states.</p>
  <div class="content mt-5">
    <div class="steps">
      <div class="step-item is-active is-link">
        <div class="step-marker">
          <span class="icon">
            <i class="fal fa-flag fa-2x" aria-hidden="true"></i>
          </span>
        </div>
        <div class="step-details">
          <p class="step-title is-size-7">March 2019</p>
        </div>
      </div>
      <div class="step-item">
        <div class="step-marker">
          <span class="icon">
            <i class="fal fa-flag fa-2x" aria-hidden="true"></i>
          </span>
        </div>
        <div class="step-details">
          <p class="step-title is-size-7">January 2020</p>
        </div>
      </div>
      <div class="step-item">
        <div class="step-marker">
          <span class="icon">
            <i class="fal fa-flag fa-2x" aria-hidden="true"></i>
          </span>
        </div>
        <div class="step-details">
          <p class="step-title is-size-7">November 2020</p>
        </div>
      </div>
      <div class="step-item">
        <div class="step-marker">
          <span class="icon">
            <i class="fal fa-flag fa-2x" aria-hidden="true"></i>
          </span>
        </div>
        <div class="step-details">
          <p class="step-title is-size-7">April 2021</p>
        </div>
      </div>
      <div class="steps-content">
        <div
          class="step-content has-background-light p-5 is-active"
          style="border-radius: 0.5rem"
        >
          <!--Content-->
          <ul class="is-marginless mx-5">
            <li>Received the first approvals for BRUKINSA® in China</li>
            <li>Received the second approval for tislelizumab in China</li>
            <li>
              Completed a registered direct offering of approx. $2.07 billion
            </li>
            <li>
              Secured national reimbursement in China for tislelizumab,
              BRUKINSA®, and XGEVA®**
            </li>
            <li>Established the Shanghai R&D center</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
