<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:url" content="{{site.baseurl}}" />
    <link rel="stylesheet" href="/css/winnow.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <title>Winnow Design System - {{ page.title }}</title>
  </head>
  <body>
    {%- include wds-header.html -%}
    <script>
      function dropDownLayoutFunction() {
        var element = document.getElementById("winnowDropDownLayout");
        element.classList.toggle("is-active");
      }
      function dropDownLayoutMiniFunction() {
        var element = document.getElementById("winnowDropDownLayoutMini");
        element.classList.toggle("is-active");
      }
      function dropDownShareFunction() {
        var element = document.getElementById("winnowDropDownShare");
        element.classList.toggle("is-active");
      }
      function dropDownShareMiniFunction() {
        var element = document.getElementById("winnowDropDownShareMini");
        element.classList.toggle("is-active");
      }
      function dropDownSearchFunction() {
        var element = document.getElementById("winnowDropDownSearch");
        element.classList.toggle("is-active");
      }
    </script>
  </body>
</html>
