<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:url" content="{{site.baseurl}}" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/winnow.css" />
    <title>Winnow Design System - {{ page.title }}</title>
  </head>
  <body>
    <nav
      class="navbar has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/index.html">
          <img src="../../assets/img/logo_winnowdesignsystem.svg" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="winnowNav"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="winnowNav" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> User App </a>
            <div class="navbar-dropdown">
              <a href="/content/widgets/complex.html" class="navbar-item">
                Design System
              </a>
              <a href="/demo-user/landing.html" class="navbar-item">
                Demo Screens
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Admin Portal </a>
            <div class="navbar-dropdown">
              <a
                href="/content/components-admin/sidebar.html"
                class="navbar-item"
              >
                Design System
              </a>
              <a href="/demo-admin/landing.html" class="navbar-item">
                Demo Screens
              </a>
            </div>
          </div>
          <div class="is-hidden-desktop">
            {% for item in site.data.navigation.path %}
            <p class="pl-3 pt-3 is-size-7 is-uppercase has-text-grey-light">
              {{ item.title }}
            </p>
            <ul class="menu-list">
              {% for entry in item.subfolderitems %}
              <li>
                <a
                  href="{{ entry.url }}"
                  class="{% if entry.url == page.url %}is-active{% endif %}"
                  >{{ entry.page }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </div>
        <div class="nav-end">
          <div class="navbar-item mt-1">
            <span class="tag is-link">BETA forever. Always updating.</span>
          </div>
        </div>
      </div>
    </nav>
    <section class="main-content columns is-fullheight is-marginless">
      <aside
        class="
          column
          is-2 is-narrow-mobile is-fullheight
          section
          has-background-light
          is-hidden-touch
        "
      >
        {% for item in site.data.navigation.path %}
        <p class="menu-label">{{ item.title }}</p>
        <ul class="menu-list">
          {% for entry in item.subfolderitems %}
          <li>
            <a
              href="{{ entry.url }}"
              class="{% if entry.url == page.url %}is-active{% endif %}"
              >{{ entry.page }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </aside>
      <div class="column is-10 is-fullheight has-background-white">
        {{content}}
      </div>
    </section>
    <footer class="footer has-background-black">
      <div class="content has-text-centered has-text-light">
        <p>
          This design system was designed for Winnow by Digital Technology Team.
        </p>
        <p class="has-text-grey">
          Noticed a typo? Or something unclear? Please connect with Johnson Koh
          or Jynn Lyi.
        </p>
      </div>
    </footer>
    <div id="quickviewDefault" class="quickview">
      <header class="quickview-header" style="border: 0">
        <p class="title has-text-weight-bold">Manage Tags</p>
        <span class="delete" data-dismiss="quickview"></span>
      </header>
      <div class="quickview-body">
        <div class="quickview-block p-4">
          <!--Manage Tags-->
          {% include wds-tags-manage.html %}
          <!--Tag Selector-->
          {% include wds-tags-selector.html %}
        </div>
      </div>
    </div>
    <div id="quickviewAssign" class="quickview">
      <header class="quickview-header" style="border: 0">
        <p class="title has-text-weight-bold">Assign Tags to Company</p>
        <span class="delete" data-dismiss="quickview"></span>
      </header>
      <div class="quickview-body">
        <div class="quickview-block p-4">
          <!--Tags Assigned-->
          {% include wds-tags-assigned.html %}
          <!--Assign New Tag-->
          {% include wds-tags-new.html %}
          <!--Tag Selector-->
          {% include wds-tags-selector.html %}
        </div>
      </div>
    </div>
    <div id="ModalShareLink" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title is-marginless">Share Link</p>
          <button
            class="delete"
            onclick="modalFunction('ModalShareLink')"
            aria-label="close"
          ></button>
        </header>
        <section class="modal-card-body">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                type="text"
                class="input is-fullwidth"
                placeholder="https://winnow.onetemasek.local/companyname"
              />
            </div>
            <div class="control">
              <a class="button"><i class="fal fa-copy"></i></a>
            </div>
          </div>
          <p>
            You can share this link with people you want to discuss the company
            with. Your layout is preserved in the link.
          </p>
        </section>
        <footer class="modal-card-foot">
          <button class="button" onclick="modalFunction('ModalShareLink')">
            Close
          </button>
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="/js/accordion.js"></script>
    <script type="text/javascript" src="/js/quickview.js"></script>
    <script>
      function dropDownWidgetFunction(target) {
        var element = document.getElementById(target);
        element.classList.toggle("is-active");
      }

      function dropDownMenuFunction(target) {
        var element = document.getElementById(target);
        element.classList.toggle("is-active");
      }

      function modalFunction(target) {
        var element = document.getElementById(target);
        element.classList.toggle("is-active");
      }

      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
        var quickviews = winnowQuickview.attach();
        var accordions = winnowAccordion.attach();
      });
    </script>
  </body>
</html>
