<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:url" content="{{site.baseurl}}" />
    <link rel="stylesheet" href="/css/winnow.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <title>Winnow Design System - {{ page.title }}</title>
  </head>
  <body>
    <nav
      class="navbar has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/index.html">
          <img src="../../assets/img/logo_winnowdesignsystem.svg" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="winnowNav"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="winnowNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>
          <a class="navbar-item" href="/demo/landing.html"> Demo </a>
          <div class="is-hidden-desktop">
            {% for item in site.data.navigation.path %}
            <p class="pl-3 pt-3 is-size-7 is-uppercase has-text-grey-light">
              {{ item.title }}
            </p>
            <ul class="menu-list">
              {% for entry in item.subfolderitems %}
              <li>
                <a
                  href="{{ entry.url }}"
                  class="{% if entry.url == page.url %}is-active{% endif %}"
                  >{{ entry.page }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </div>
        <div class="nav-end">
          <div class="navbar-item mt-1">
            <span class="tag is-link">BETA forever. Always updating.</span>
          </div>
        </div>
      </div>
    </nav>
    <section class="main-content columns is-fullheight is-marginless">
      <div class="column is-fullheight has-background-white">{{content}}</div>
    </section>
    <div id="quickviewDefault" class="quickview">
      <header class="quickview-header">
        <p class="title">Quickview Title</p>
        <span class="delete" data-dismiss="quickview"></span>
      </header>
      <div class="quickview-body">
        <div class="quickview-block">...</div>
      </div>
      <footer class="quickview-footer"></footer>
    </div>
    <script type="text/javascript" src="/js/quickview.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
