<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:url" content="{{site.baseurl}}" />
    <link rel="stylesheet" href="/css/winnow.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <title>Winnow Design System - {{ page.title }}</title>
  </head>
  <body>
    <nav
      class="navbar has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="../../assets/img/logo_winnowdesignsystem.svg" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="winnowNav"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="winnowNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-active"> Documentation </a>
          <a class="navbar-item"> About </a>
        </div>
      </div>
    </nav>
    <section class="main-content columns is-fullheight">
      <aside class="column is-2 is-narrow-mobile is-fullheight section">
        {% for item in site.data.navigation.path %}
        <p class="menu-label">{{ item.title }}</p>
        <ul class="menu-list">
          {% for entry in item.subfolderitems %}
          <li>
            <a
              href="{{ entry.url }}"
              class="{% if entry.url == page.url %}is-active{% endif %}"
              >{{ entry.page }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </aside>
      <div class="column is-10 is-fullheight section has-background-light">
        {{content}}
      </div>
    </section>
  </body>
</html>
