---
title: Files
layout: layout-sidenav
permalink: /content/widgets/files.html
category: Widgets/Files
---

<section class="section">
  <h3 class="title has-text-weight-light">Files</h3>
  <p>
    This widget is to display files shared on LOOP and related to the Company.
  </p>
  <div class="content mt-5">
    <h5 class="has-text-link">Level 1 Navigation</h5>
    {% include wds-widget-files.html %}
    <hr />
    <h5 class="has-text-link">Level 2 Navigation</h5>
    {% include wds-widget-files-inner.html %}
  </div>
</section>
