---
title: Tags
layout: layout-sidenav
permalink: /content/widgets/tags.html
category: Widgets/Tags
---

<section class="section">
  <h3 class="title has-text-weight-light">Tags</h3>
  <p>This widget is for listing document links shared by users.</p>
  <div class="content mt-5">{% include wds-widget-tags.html %}</div>
</section>
<div id="quickviewDefault" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Assign Tags to Company</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Tags Assigned-->
      {% include wds-tags-assigned.html %}
      <!--Assign New Tag-->
      {% include wds-tags-new.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>
