---
title: Timeline
layout: layout-sidenav
permalink: /content/widgets/timeline.html
category: Widgets/Timeline
---

<section class="section">
  <h3 class="title has-text-weight-light">Timeline</h3>
  <p>This widget is for listing events along a timeline.</p>
  <div class="content mt-5">
    <p>
      <b>Vertical Timeline</b> - This can be used when the event description is
      minimal and user can scroll to reveal more information.
    </p>
    {% include wds-widget-timeline.html %}
    <p>
      <b>Steps Timeline</b> - This can be used when the event description is
      long and user can click on each date to reveal more information.
    </p>
    {% include wds-widget-steps.html %}
  </div>
</section>
