---
title: Company
layout: layout-fullwidth
permalink: /demo/company.html
category: Demo/Company
---

<section class="section content">
  <div class="is-divider" data-content="SINGLE PANE OF GLASS FOR COMPANY"></div>
  {% include wds-header.html %}
  <div class="section has-background-light py-5" style="min-height: 600px">
    {% include wds-banner-verify.html %}
    <div class="tile is-ancestor">
      <div class="tile is-parent">{% include wds-widget-info.html %}</div>
      <div class="tile is-parent">{% include wds-widget-tags.html %}</div>
      <div class="tile is-parent">{% include wds-widget-verify.html %}</div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">{% include wds-widget-documents.html %}</div>
      <div class="tile is-parent">{% include wds-widget-news.html %}</div>
      <div class="tile is-parent">{% include wds-widget-profile.html %}</div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">{% include wds-widget-steps.html %}</div>
      <div class="tile is-parent">{% include wds-widget-timeline.html %}</div>
      <div class="tile is-parent">{% include wds-widget-grid.html %}</div>
    </div>
  </div>
</section>
<div id="quickviewDefault" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Manage Tags</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Manage Tags-->
      {% include wds-tags-manage.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>
<div id="quickviewAssign" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Assign Tags to Company</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Tags Assigned-->
      {% include wds-tags-assigned.html %}
      <!--Assign New Tag-->
      {% include wds-tags-new.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>
