---
title: Company
layout: layout-fullwidth
permalink: /demo/company.html
category: Demo/Company
---

<section class="section">
  <div class="is-divider" data-content="SINGLE PANE OF GLASS FOR COMPANY"></div>
  {% include wds-header.html %}
  <div class="section has-background-light" style="min-height: 600px">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child card">
          <header class="card-header">
            <div class="card-header-title">
              <label>Company Info</label><br />
              <small>Source: Pitchbook (Adobe Inc)</small>
            </div>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="logo-container mb-5">
                <img src="../../assets/img/img_adobelogo.png" />
              </div>
              <div class="columns">
                <div class="column is-2">
                  <p class="title is-7">Name</p>
                </div>
                <div class="column">
                  <p>Adobe Inc</p>
                </div>
              </div>
              <div class="columns">
                <div class="column is-2">
                  <p class="title is-7">Description</p>
                </div>
                <div class="column">
                  <p>
                    Adobe Inc. is an American multinational computer software
                    company. Incorporated in Delaware and headquartered in San
                    Jose, California, it has historically focused upon the
                    creation of multimedia and creativity software products,
                    with a more recent foray towards digital marketing software.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <a href="#">Go to External Link</a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item is-pulled-right">
                  <i
                    class="fal fa-chevron-down icon-resize"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <header class="card-header">
            <div class="card-header-title">
              <label>News & Activities</label><br />
              <small>Source: TechCrunch</small>
            </div>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content">
            <div class="content">
              <p><b>Adobe Inc</b> was not found.</p>
              <a
                href="#anchor-fuzzymatch"
                class="button is-light is-fullwidth my-3"
                >Verify company name</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <header class="card-header">
            <div class="card-header-title">
              <label>Company Performance</label><br />
              <small>Source: AskGini</small>
            </div>
            <div class="dropdown is-active is-right">
              <div class="dropdown-trigger">
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon mt-3">
                    <i class="fal fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item">
                    <div class="level">
                      <div class="level-item level-left">
                        <span class="icon mr-3">
                          <i class="fal fa-flag"></i
                        ></span>
                        <span>Fix Company Name</span>
                      </div>
                    </div>
                  </a>
                  <a href="/demo/expandwidget.html" class="dropdown-item">
                    <div class="level">
                      <div class="level-item level-left">
                        <span class="icon mr-3">
                          <i class="fal fa-expand"></i
                        ></span>
                        <span>Expand Widget</span>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="dropdown-item">
                    <div class="level">
                      <div class="level-item level-left">
                        <span class="icon mr-3">
                          <i class="fal fa-eye-slash"></i
                        ></span>
                        <span>Hide Widget</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <p><b>Adobe Inc</b> was not found.</p>
              <a
                href="#anchor-fuzzymatch"
                class="button is-light is-fullwidth my-3"
                >Verify company name</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="quickviewDefault" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Manage Tags</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Manage Tags-->
      {% include wds-tags-manage.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>
