---
title: Expand Widget
layout: layout-fullwidth
permalink: /demo/expandwidget.html
category: Demo/ExpandWidget
---

<section class="section content py-5">
  <div class="is-divider" data-content="EXPANDED WIDGET PAGE"></div>
  {% include wds-header-inner.html %}
  <div class="section has-background-light" style="min-height: 600px"></div>
</section>
<div id="quickviewDefault" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Manage Tags</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Manage Tags-->
      {% include wds-tags-manage.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>
