---
title: Searched Tags
layout: layout-fullwidth
permalink: /demo/searchedtags.html
category: Demo/SearchedTags
---

<section class="section content py-5">
  <div class="is-divider" data-content="SEARCHED TAGS PAGE"></div>
  {% include wds-header-tags.html %}
  <section class="main-content columns is-fullheight is-marginless">
    <!--Desktop Sidebar-->
    <aside
      class="
        column
        is-3 is-narrow-mobile is-fullheight
        section
        has-background-light
        is-hidden-touch
      "
    >
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </aside>
    <!--Body Content-->
    <div class="column is-fullheight has-background-white">
      <section class="section">
        <span class="title is-6"
          >58 companies found based on your tag(s) selection</span
        >
        <p>
          Please note that selecting a compnay with this icon
          <span class="icon has-text-danger"
            ><i class="fas fa-usd-circle"></i
          ></span>
          will cost credit from Pitchbook
        </p>
        <div class="content mt-5">
          <ul class="flex-container wrap">
            <li class="flex-item box">
              <a href="/demo/company.html"">
                <div class="has-text-centered">
                  <span class="title is-6">Adobe Systems</span><br />
                  <span class="tag is-info is-light mt-2">Adtech</span>
                </div>
              </a>
            </li>
            <li class="flex-item box">
              <div class="icon-label">
                <span class="icon has-text-danger"
                  ><i class="fas fa-usd-circle"></i
                ></span>
              </div>
              <div class="has-text-centered">
                <span class="title is-6">B Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="icon-label">
                <span class="icon has-text-danger"
                  ><i class="fas fa-usd-circle"></i
                ></span>
              </div>
              <div class="has-text-centered">
                <span class="title is-6">C Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">D Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">E Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">F Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">G Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">H Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">I Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">J Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">K Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">L Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="icon-label">
                <span class="icon has-text-danger"
                  ><i class="fas fa-usd-circle"></i
                ></span>
              </div>
              <div class="has-text-centered">
                <span class="title is-6">M Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">N Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="icon-label">
                <span class="icon has-text-danger"
                  ><i class="fas fa-usd-circle"></i
                ></span>
              </div>
              <div class="has-text-centered">
                <span class="title is-6">O Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">P Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">Q Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">R Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">S Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
            <li class="flex-item box">
              <div class="has-text-centered">
                <span class="title is-6">T Company</span><br />
                <span class="tag is-info is-light mt-2">Adtech</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <nav
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination"
      >
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a class="pagination-link is-current">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link">4</a></li>
          <li><a class="pagination-link">5</a></li>
        </ul>
      </nav>
    </div>
  </section>
</section>
<div id="quickviewDefault" class="quickview">
  <header class="quickview-header" style="border: 0">
    <p class="title has-text-weight-bold">Manage Tags</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>
  <div class="quickview-body">
    <div class="quickview-block p-4">
      <!--Manage Tags-->
      {% include wds-tags-manage.html %}
      <!--Tag Selector-->
      {% include wds-tags-selector.html %}
    </div>
  </div>
</div>